@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;400;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Display&family=Inter:wght@100;200;400;600&display=swap');

body{
    margin : 0;
    font-family: 'Inter';
}

#head-textbox {
    margin-left: -25px;
    max-height: 50px;
}

#navbar {
    position: absolute;
    top: 0;
    width: 85%;
    height: 54px;
    margin-left: 15%;
    display: flex;
    flex-direction: row;
    justify-content:space-between;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, .2);
}

#navbar-end{
    margin-right: 15px;
    margin-top: 15px;
}

#navbar-mid {
    margin-top: 15px;
}

#navbar-start {
    margin-left: 15px;
}

#sidebar {
    color: white;
    background-color: #311D40;
    width: 15%;
    height: 100vh;
    position: absolute;
    left: 0;
    top: 0;
}

#sidebar-footer {
    bottom: 0;
    position: absolute;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 15%;
}

#sidebar-head {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-left: 20px;
    padding-top: 10px;
    padding-bottom: 15px;
}

#sidebar-items {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}

#sidebar-items:hover{
    cursor: default;
    background-color: #543869;
    border: 5px solid #5da9c2;
    border-width: 0px 0px 0px 1px;
}

p{
    font-size: 10px;
}

/*------------------------------------------------------------*/

#footer-text {
    font-family:'DM Serif Display';
    margin-left: 15px;
    margin-right: 15px;
}

#head-icon{
    left: 0;
    object-fit: cover;
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

#head-name{
    font-size: 12px;
    margin-top: 5px;
    margin-bottom: -5px;
}

#input-search {
    width: 600px;
    height: 30px;
    border: 0px;
    background-color :#f2f6f7;
    border-radius: 20px;
    padding-left: 10px;
    padding-right: 10px;
}

#item-icon{
    font-size: 20px;
    margin-top: 10px;
    color: gray;
    margin-right: 15px;
}

#item-name{
    font-size: 12px;
}

#item-num{
    font-size: 8px;
    color: #311D40;
    background-color : #80afbf;
    border-radius : 2px;
    padding: 2px;
    padding-left: 4px;
    padding-right: 4px;
    margin-left: 5px;
    margin-right: 5px;
    margin-top: 13px;
    height: 10px;
}

#navbar-text{
    padding-bottom: 10px;
    border: 1px solid #80afbf;
    border-width: 0px 0px 3px 0px; 
}

.notification {
    color: black;
    text-decoration: none;
    padding: 5px 5px;
    position: relative;
    display: inline-block;
    border-radius: 2px;
}

.notification .badge {
    font-size: 8px;
    position: absolute;
    top: 0px;
    right: 0px;
    padding: 2.5px 5px;
    border-radius: 50%;
    background: red;
    color: white;
}


#x-icon{
    margin-top: 10px;
    margin-right: 10px;
    font-weight: 100;
    cursor:default;
}